@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<CheeseMVC.Models.Menu>
@{
    ViewBag.Title = "Current Menus:";
}



<h1>@ViewBag.Title</h1>
@foreach (var menu in Model)
{
    <ul>
    <li><a asp-controller="Menu" asp-action="ViewMenu" asp-route-id="@menu.ID">@menu.Name</a></li>
    </ul>
}

<p><a asp-controller="Menu" asp-action="Add">Add Menu</a></p>